body {
  margin: 0 auto;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

#root {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #e7d800;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pokelist {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  max-width: 90%;
  background-color: #F7EF00;
  border-radius: 1em;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img:hover {
  cursor: pointer;
}

#cardcol {
  margin-bottom: 1em;
  // flex-grow: 1;
  // flex-basis:initial;
  // min-width: 25%;
  // width:max-content;
  // flex-grow: initial;
}

.card-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: space-between;
  flex-grow: 1;
  max-width: inherit;
  // background-color: black;
}

.pokeinfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-image: url("./assets/background-image.png");
  
}

.image-stats {
  display: flex;
  justify-content: center;
}

#photo {
  background-image: url('./assets/background-image-2.png');
  background-size: cover;
  max-width: 85%;
  max-height: 85%;
  border-radius: 0.5em;
  border-color: #F7EF00;
  border-width: 0.2em;
  border-style: inset;
}

.general-info {
  margin: 1em;  
}

.info-tab {
.accordion-button {
  background-image: url('./assets/background-image-2.png')
}

.accordion-button:not(.collapsed) {
  background-image: url('./assets/background-image-2.png')
}
}

.general-info-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
  justify-content: center;
  background-image: url('./assets/background-image-2.png');
 }



.card-header {
  display: flex;
  // text-align: center;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  // width: 100%;
  h4 {
    font-weight: 500;
    width: inherit;
  }
}





#abilities, #games, #types {
  display: flex;
  text-align: center;
  align-items: last baseline;
  max-width: inherit;
}

#filter-item {
  border: none;
  border-bottom: 1px;
}

#filters {
  // padding: 2em;
  box-sizing: border-box;
  padding-right: 0.5em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  background-color:#ff5454;
  min-width: percentage($number: calc(1/6));
  max-width: percentage($number: calc(1/6));
  text-align: center;
  padding-left: 2em;
  gap: 1em;
  #filters-header {
    font-weight: 600;
  }
}




#filter-accordion {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.accordion-header {
  border: none;
}

.filter-tab {
  .accordion-button {
    // background-image: url('./assets/background-image-2.png')
    background-color: #00e7dc;
    border-color: #00e7dc;
    --bs-accordion-inner-border-radius: 0;
  font-weight: 600;

  }
  
  .accordion-button:not(.collapsed) {
    // background-image: url('./assets/background-image-2.png')
  }
  }



#filter-badge {
  font-size: 2px;
}

#single-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
}

#single-info-container {
  display: flex;
  flex-direction: column;
  background-color: #00e7dc;
  // min-height: 100vh;
  height: fit-content;
  margin: 2em auto 2em auto;
  border-radius: 2em;
}


#single-img {
  width: 100%;
  background-image: url('./assets/background-image.png');
  border-radius: 1em;
}

#single-img-col {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 2em auto;
  padding: 2em;
  background-color: #ff5454;
  gap: 1em;
  border-radius: 2em;
  height: fit-content;

}

#single-img-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

#single-name {
  display: flex;
  justify-content: end;
  color: #efefef;
  font-weight: 600;
  flex-grow: 1;
}

#single-id {
  display: flex;
  justify-content: start;
  color: #efefef;
  flex-shrink: 1;
}

#single-category {
  // display: flex;
  justify-content: space-around;

}
#single-type, #single-ability {
  text-align: center;
}


#single-header {
  .accordion-button {
    font-size: 32px;
    font-weight: 600;
    margin: 1em auto;
    justify-content: space-between;
    height: fit-content;
  }
  
}

.accordion-button {
  background-color: #00e7dc !important;
  box-shadow: none !important;
  gap: 0.5em;

}

#single-item {
  padding-top: 1em;
  // align-items: center;
  margin: 0.5em;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  background-color: #ff5454;
  font-weight: 600;
  border-radius: 1em;
  min-width: 8em;

  // max-width: inherit
  // text-align: center !important;
  // margin: auto;
  // padding: auto;
  // background-color:#e7d800 ;
  // border-style: solid;

}

.accordion-button.collapsed::after, .accordion-button::after {
  // display: none;
}

#single-map {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: fit-content;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  #single-pokemon-main {
    padding: 2em;
  }
}
